$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-arrow-down: "\E001"; 
$icon-name-check: "\E002"; 
$icon-name-finance: "\E003"; 
$icon-name-logistics: "\E004"; 
$icon-name-manufacturing: "\E005"; 
$icon-name-sales: "\E006"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == check {
		$char: "\E002";
	}
	@if $filename == finance {
		$char: "\E003";
	}
	@if $filename == logistics {
		$char: "\E004";
	}
	@if $filename == manufacturing {
		$char: "\E005";
	}
	@if $filename == sales {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-check {
	@include icon(check);
}
.icon-finance {
	@include icon(finance);
}
.icon-logistics {
	@include icon(logistics);
}
.icon-manufacturing {
	@include icon(manufacturing);
}
.icon-sales {
	@include icon(sales);
}
