$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-arrow-down: "\E001"; 
$icon-name-check: "\E002"; 
$icon-name-facebook: "\E003"; 
$icon-name-finance: "\E004"; 
$icon-name-instagram: "\E005"; 
$icon-name-linkedin: "\E006"; 
$icon-name-logistics: "\E007"; 
$icon-name-logout: "\E008"; 
$icon-name-manufacturing: "\E009"; 
$icon-name-navbar-arrow: "\E00A"; 
$icon-name-next: "\E00B"; 
$icon-name-prev: "\E00C"; 
$icon-name-profile: "\E00D"; 
$icon-name-sales: "\E00E"; 
$icon-name-search: "\E00F"; 
$icon-name-thumb-down: "\E010"; 
$icon-name-thumb-up: "\E011"; 
$icon-name-twitter: "\E012"; 
$icon-name-user: "\E013"; 
$icon-name-youtube: "\E014"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == check {
		$char: "\E002";
	}
	@if $filename == facebook {
		$char: "\E003";
	}
	@if $filename == finance {
		$char: "\E004";
	}
	@if $filename == instagram {
		$char: "\E005";
	}
	@if $filename == linkedin {
		$char: "\E006";
	}
	@if $filename == logistics {
		$char: "\E007";
	}
	@if $filename == logout {
		$char: "\E008";
	}
	@if $filename == manufacturing {
		$char: "\E009";
	}
	@if $filename == navbar-arrow {
		$char: "\E00A";
	}
	@if $filename == next {
		$char: "\E00B";
	}
	@if $filename == prev {
		$char: "\E00C";
	}
	@if $filename == profile {
		$char: "\E00D";
	}
	@if $filename == sales {
		$char: "\E00E";
	}
	@if $filename == search {
		$char: "\E00F";
	}
	@if $filename == thumb-down {
		$char: "\E010";
	}
	@if $filename == thumb-up {
		$char: "\E011";
	}
	@if $filename == twitter {
		$char: "\E012";
	}
	@if $filename == user {
		$char: "\E013";
	}
	@if $filename == youtube {
		$char: "\E014";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-check {
	@include icon(check);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-finance {
	@include icon(finance);
}
.icon-instagram {
	@include icon(instagram);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-logistics {
	@include icon(logistics);
}
.icon-logout {
	@include icon(logout);
}
.icon-manufacturing {
	@include icon(manufacturing);
}
.icon-navbar-arrow {
	@include icon(navbar-arrow);
}
.icon-next {
	@include icon(next);
}
.icon-prev {
	@include icon(prev);
}
.icon-profile {
	@include icon(profile);
}
.icon-sales {
	@include icon(sales);
}
.icon-search {
	@include icon(search);
}
.icon-thumb-down {
	@include icon(thumb-down);
}
.icon-thumb-up {
	@include icon(thumb-up);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-user {
	@include icon(user);
}
.icon-youtube {
	@include icon(youtube);
}
