body {
    font-family: "Open Sans";
    color: $black;
}

p {
    font-size: .938rem;
    margin-bottom: 0;
}

.subtitle {
    font-size: 18px;
}

h2 {
    line-height: 32px;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px!important;
    }
}

.link {
    color: $black;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 1.563rem!important;
    }
    h2 {
        font-size: 1.563rem!important;
    }
    h3 {
        font-size: 1.5rem!important;
    }
    h4 {
        font-size: 1.25rem!important;
    }
    .link {
        font-size: 1.125rem!important;
    }
    .subtitle {
        font-size: 15px;
    }
}