.bg-light {
    background-color: $light-blue!important;
}

.bg-dark {
    background-color: $black-100!important;
}

.text-secondary {
    color: $gray!important;
}

.py-60px {
    padding: 60px 0;
}

.py-70px {
    padding: 70px 0;
}

.py-90px {
    padding: 90px 0;
}

.py-100px {
    padding: 100px 0;
}

.pt-40px {
    padding-top: 40px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-63px {
    padding-top: 63px;
}

.pt-102px {
    padding-top: 102px;
}

.pt-115px {
    padding-top: 115px;
}

.pb-80px {
    padding-bottom: 80px;
}

.pb-90px {
    padding-bottom: 90px;
}

.pb-124px {
    padding-bottom: 124px;
}

.pb-140px {
    padding-bottom: 140px;
}

.rounded-1 {
    border-radius: $border-radius!important;
}

.rounded-2 {
    border-radius: $border-radius-sm!important;
}

.border-secondary {
    border-color: #DFDFDF!important;
}

.h-500 {
    height: 500px;
}

.fw-600 {
    font-weight: 600!important;
}

.w-30 {
    width: 30px;
}

.h-30 {
    height: 30px;
}

.subtitle {
    font-size: 1.25rem;
}

@media (max-width: 992px) {
    .py-90px {
        padding: 40px 0;
    }
    .pt-60px {
        padding-top: 40px;
    }
    .pb-90px {
        padding-bottom: 30px;
    }
    .subtitle {
        font-size: .938rem;
    }
    .fs-1 {
        font-size: 1rem!important;
    }
}