@import 'theme/theme';
@import 'theme/fonts';
@import 'theme/utilities';
@import 'theme/typography';
@import 'theme/variables';
@import "theme/components/navbar";
@import "theme/components/accordion";
@import "theme/components/list";
@import "theme/components/dropdown";
@import "theme/components/buttons";
@import "theme/components/slick_carousel";
.hero {
    background-color: $light-blue;
    padding-top: 146px;
    padding-bottom: 70px;
    .hero-img {
        width: 79px;
        height: 79px;
        @media (max-width: 992px) {
            width: 50px;
            height: 50px;
        }
    }
    .certified-img {
        width: 116px;
        height: 28px;
        @media (max-width: 992px) {
            width: 70px;
            height: 17px;
        }
    }
}

.visuals {
    .img-size {
        width: 50px;
        height: 50px;
    }
}

.interactions {
    .img-style {
        width: 845px;
        height: 470px;
        @media (max-width: 992px) {
            width: 100%;
            height: 195px;
        }
    }
}

.visuals-bundle {
    .bundle-size {
        width: 66px;
        height: 66px;
        @media (max-width: 992px) {
            width: 40px;
            height: 40px;
        }
    }
}

.find {
    .card {
        border: none;
        .card-body {
            padding: 1rem 0;
        }
    }
}

.placeholder-banner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.assistance {
    &::before {
        display: block;
        content: '';
        background-image: url(../img/assistance-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @media (max-width: 992px) {
            background-image: none;
        }
    }
}

.divider-left {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #DFE3EC;
        width: 1px;
        height: auto;
        left: -1px;
    }
}

.footer {
    .separator {
        border-bottom: 1px solid #DFE3EC;
    }
    ul {
        padding-left: 0;
        li {
            margin-bottom: 15px;
            a {
                color: $black!important;
                &.link-white {
                    color: $white!important;
                }
            }
            &::before {
                display: none;
            }
             ::marker {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .hero {
        padding-top: 65px;
        padding-bottom: 45px;
    }
}