@import 'theme/theme';
@import 'theme/fonts';
@import 'theme/utilities';
@import 'theme/typography';
@import 'theme/variables';
@import "theme/components/navbar";
@import "theme/components/accordion";
@import "theme/components/list";
@import "theme/components/dropdown";
@import "theme/components/buttons";
@import "theme/components/slick_carousel";
@import "theme/components/modal";
@import "theme/components/card";
@import "theme/components/input-group";
.cursor-pointer {
    cursor: pointer;
}

.hero {
    background-color: $light-blue;
    padding-top: 7.813rem;
    padding-bottom: 4.375rem;
    .hero-img {
        width: 4.938rem;
        height: 4.938rem;
        @media (max-width: 992px) {
            width: 3.125rem;
            height: 3.125rem;
        }
    }
    .certified-img {
        width: 7.25rem;
        height: 1.75rem;
        @media (max-width: 992px) {
            width: 4.375rem;
            height: 1.063rem;
        }
    }
}

.img-size {
    width: 1.875rem;
    height: 1.875rem;
}

.img-size-large {
    width: 3.125rem;
    height: 3.125rem;
}

.icon-style {
    width: 2.813rem;
    height: 2.813rem;
    @include media-breakpoint-down(lg) {
        width: 1.875rem;
        height: 1.875rem;
    }
}

textarea {
    resize: none;
}

.interactions {
    .img-style {
        width: 52.813rem;
        height: 29.375rem;
        @include media-breakpoint-down(lg) {
            width: 100%;
            height: 100%;
        }
    }
}

.visuals-bundle {
    .bundle-size {
        width: 4.125rem;
        height: 4.125rem;
        @include media-breakpoint-down(lg) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.contacts {
    .card {
        .card-body {
            padding: 2.5rem;
            @include media-breakpoint-down(lg) {
                padding: 1.875rem .938rem;
            }
        }
        &.card-style {
            background: $light-blue;
            border: .063rem solid $light-gray;
            border-radius: .313rem;
        }
    }
}

.find {
    .card {
        border: none;
        background-color: transparent;
        .card-body {
            padding: 1rem 0;
        }
    }
}

.placeholder-banner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.assistance {
    &::before {
        display: block;
        content: '';
        background-image: url(../img/assistance-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include media-breakpoint-down(lg) {
            background-image: none;
        }
    }
}

.assistance-img {
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15.875rem;
    @include media-breakpoint-down(lg) {
        background-image: url(../img/assistance-img-991px.png);
    }
    @include media-breakpoint-down(md) {
        background-image: url(../img/assistance-img-767px.png);
    }
    @include media-breakpoint-down(sm) {
        background-image: url(../img/assistance-img-576px.png);
    }
    @media (max-width: 414px) {
        background-image: url(../img/assistance-img-mobile.png);
        height: 24.813rem;
    }
}

.divider-left {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: $light-gray;
        width: .063rem;
        height: auto;
        left: -.063rem;
    }
}

.footer {
    .social-icon {
        font-size: 1.5rem;
    }
    .separator {
        border-bottom: .063rem solid $light-gray;
    }
    ul {
        padding-left: 0;
        li {
            margin-bottom: .938rem;
            a {
                color: $black!important;
                text-decoration: underline;
                &.link-white {
                    color: $white!important;
                }
            }
            &::before {
                display: none;
            }
             ::marker {
                display: none;
            }
        }
    }
}

.report-hero {
    &::before {
        display: block;
        content: '';
        background-image: url(../img/report-hero-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 42.938rem;
        z-index: -1;
        @include media-breakpoint-down(lg) {
            background-image: none;
        }
    }
}

.assistance-hero {
    &::before {
        display: block;
        content: '';
        background-image: url(../img/assistance-bg-desktop.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 42.938rem;
        z-index: -1;
        @include media-breakpoint-down(lg) {
            background-image: none;
        }
    }
}

.report-img {
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    @include media-breakpoint-down(lg) {
        background-image: url(../img/report-hero-991px.png);
    }
    @include media-breakpoint-down(md) {
        background-image: url(../img/report-hero-767px.png);
    }
    @include media-breakpoint-down(sm) {
        background-image: url(../img/report-hero-576px.png);
    }
    @media (max-width: 414px) {
        background-image: url(../img/report-hero-bg-mobile.png);
    }
}

.report-block {
    position: absolute;
    right: 0;
    div {
        padding: 2.5rem;
        @include media-breakpoint-down(lg) {
            padding: 1.563rem .938rem;
        }
    }
}

.contact-icon {
    font-size: 1.5rem;
}

.attach-text {
    font-size: .938rem;
}

.attach-close {
    color: $light-gray;
    &:hover {
        text-decoration: none;
        color: $red;
        cursor: pointer;
    }
}

@include media-breakpoint-down(lg) {
    .hero {
        padding-top: 4.063rem;
        padding-bottom: 2.813rem;
    }
}

.progress {
    background-color: $light-blue;
}

.progress-bar {
    border-radius: 6.25rem;
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

.input-group {
    border: 1px dashed #6B7785;
    border-radius: 3px;
}

.input-group>.form-control,
.input-group>.form-select {
    border-right: 0;
    &:focus {
        box-shadow: none;
    }
}

input#fakeInput {
    width: 100%;
    display: block;
    padding: 12px 15px;
    box-sizing: border-box;
    border: initial;
    &::placeholder {
        font-size: .938rem;
        color: $blue;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    &:hover {
        &::placeholder {
            text-decoration: underline;
        }
    }
}

#buttonImage {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 0px 3px 3px 0px;
}

#fakeDiv {
    width: 100%;
    border: 1px dashed #6B7785;
    border-radius: 3px;
    position: relative;
    display: inline-block;
}

#selectedFile {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
