.accordion-button:not(.collapsed) {
    color: $black;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button {
    font-weight: 600;
    font-size: .938rem;
    line-height: 1.563rem;
    padding: 1.563rem 0;
    @include media-breakpoint-down(lg) {
        padding: 1.125rem 0;
    }
    &:focus {
        box-shadow: none;
    }
    &::after {
        display: block;
        @include icon-styles;
        content: icon-char(arrow-down);
        font-size: .563rem;
        color: $black;
        background-image: none!important;
    }
}

.accordion-button:not(.collapsed)::after {
    display: inline;
    @include icon-styles;
    content: icon-char(arrow-down);
    font-size: .563rem;
    color: $black;
}

.accordion-body {
    font-size: .938rem;
    padding: 0 0 1.563rem 0;
}
