body.menu-opened {
    @include media-breakpoint-down(xl) {
        overflow: hidden;
        position: fixed;
    }
    @include media-breakpoint-down(xl) {
        .navbar-brand .navbar-brand-img {
            display: none!important;
        }
    }
}
