.btn {
    font-weight: 600;
    font-size: .938rem;
    line-height: 1.25rem;
    color: $black;
    padding: .938rem 2.188rem;
    &:focus {
        box-shadow: none;
    }
}

.btn-link {
    font-size: .938rem;
}

.btn-check:active+.btn-outline-dark:focus,
.btn-check:checked+.btn-outline-dark:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus,
.btn-outline-dark:active:focus {
    box-shadow: none;
}

.btn-check:active+.btn-warning:focus,
.btn-check:checked+.btn-warning:focus,
.btn-warning.active:focus,
.btn-warning:active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-warning {
    border: none;
    &:hover {
        text-decoration: underline;
        background-color: $black-100;
        color: $white;
    }
}

.btn-outline-dark {
    padding: .875rem 2.188rem;
    &:hover {
        background-color: $black-100;
        color: $white;
        .btn-hover-style {
            text-decoration: underline;
        }
    }
    &.btn-padding {
        padding: .875rem 1.25rem;
        @include media-breakpoint-down(lg) {
            padding: .625rem 2.188rem;
        }
    }
}

.btn-outline-light {
    padding: .875rem 2.188rem;
    color: $white;
    &:hover {
        text-decoration: underline;
        color: $black-100;
        background-color: $white;
        border-color: $white;
    }
}

.btn-light {
    &:hover {
        text-decoration: underline;
        color: $black;
        background-color: $light-blue;
    }
    &.sign {
        padding: .813rem 2.188rem;
    }
}

.btn-search-cancel {
    font-weight: normal;
    font-size: .938rem;
    color: $black;
    padding: 0;
    margin-left: 1.25rem;
    &:hover {
        text-decoration: underline;
        color: $black;
    }
}
