.btn {
    font-weight: 600;
    font-size: .938rem;
    color: $black;
    padding: 14px 35px;
}

.btn-warning {
    border: none;
    &:hover {
        text-decoration: underline;
        background-color: $yellow;
    }
}

.btn-outline-dark {
    padding: 13px 35px;
    span {
        &:hover {
            text-decoration: underline;
        }
    }
    &:hover {
        background-color: $white;
        border-color: $black-100;
        color: $black;
    }
    &.btn-padding {
        padding: 4px 20px;
        @media (max-width: 992px) {
            padding: 10px 35px;
        }
    }
}

.btn-outline-light {
    padding: 13px 35px;
    color: $white;
    &:hover {
        text-decoration: underline;
        color: $white;
        background-color: $black-100;
        border-color: $white;
    }
}

.btn-light {
    &:hover {
        text-decoration: underline;
        color: $black;
        background-color: $light-blue;
    }
}

.cancel {
    font-weight: normal;
    font-size: .938rem;
    color: $black;
    &:hover {
        text-decoration: underline;
        color: $black;
    }
}