.dropdown-item {
    padding: .625rem 0;
}

.btn-group {
    .dropdown-toggle {
        background-color: transparent;
        border: none;
        &::before {
            border: none;
        }
        &.show {
            color: $black;
            background-color: transparent;
            .label {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    height: .125rem;
                    width: 100%;
                    background-color: $yellow;
                    position: absolute;
                    bottom: -.313rem;
                    left: 0;
                    @include media-breakpoint-down(xl) {
                        display: none;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        padding: 1.25rem 2.5rem 0 2.5rem;
        .dropdown-item {
            &::active,
            &:hover {
                color: $black!important;
                background-color: transparent!important;
            }
            span {
                &:hover {
                    border-bottom: .063rem solid $black;
                }
            }
            &:active {
                color: $yellow;
            }
        }
    }
    &.dropstart .dropdown-menu[data-bs-popper] {
        margin-top: 3.75rem;
        margin-right: -2.188rem;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: $black!important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: $black;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}
