.dropdown-item {
    padding: 10px 0;
    white-space: initial;
}

.btn-group {
    .dropdown-toggle {
        background-color: transparent;
        border: none;
        &::before {
            border: none;
        }
        &.show {
            color: $black;
            background-color: transparent;
            .label {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $yellow;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    @media (max-width: 1199px) {
                        display: none;
                    }
                }
            }
        }
    }
    .dropdown-menu {
        padding: 20px 40px 0 40px;
        .dropdown-item {
            white-space: initial!important;
            &::active,
            &:hover {
                color: $black!important;
                background-color: transparent!important;
            }
            span {
                &:hover {
                    border-bottom: 1px solid $black;
                }
            }
            &:active {
                color: $yellow;
            }
        }
    }
    &.dropstart .dropdown-menu[data-bs-popper] {
        margin-top: 60px;
        margin-right: -35px;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: $black!important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: $black;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}