@import 'slick-carousel/slick/slick';
$slick-font-path: "../fonts/" !default;
$slick-loader-path: "../img/" !default;
@import 'slick-carousel/slick/slick-theme';
// .slide-wrapper {
//     padding: 16px;
// }
// @media (max-width: 576px) {
//     .slick-list {
//         padding: 0 20% 0 0 !important;
//     }
// }
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: 1;
}

.slick-slide {
    margin: 0 10px;
}

.slick-prev,
.slick-next {
    top: 60%;
    &:before {
        content: ' ';
        display: block;
        position: relative;
    }
}

.slick-prev {
    left: 0;
    &::before {
        display: inline;
        @include icon-styles;
        content: icon-char(prev);
        font-size: 1rem;
        color: $black;
        background-image: none;
    }
}

.slick-next {
    right: 0;
    &::before {
        display: inline;
        @include icon-styles;
        content: icon-char(next);
        font-size: 1rem;
        color: $black;
        background-image: none;
    }
}

.bundle-carousel {
    .slick-prev,
    .slick-next {
        top: 46%;
        &:before {
            content: ' ';
            display: block;
            position: relative;
        }
    }
    .slick-prev {
        left: 0;
        &::before {
            display: inline;
            @include icon-styles;
            content: icon-char(prev);
            font-size: 1rem;
            color: $black;
            background-image: none;
        }
    }
    .slick-next {
        right: 0;
        &::before {
            display: inline;
            @include icon-styles;
            content: icon-char(next);
            font-size: 1rem;
            color: $black;
            background-image: none;
        }
    }

    .slick-slide {
        img {
            filter: grayscale(100%);
            opacity: 0.5;
        }

        &.slick-current {
            img {
                filter: initial;
                opacity: initial;
                border-bottom: 2px solid red;
            }
        }
    }
}