@import 'slick-carousel/slick/slick';
$slick-font-path: "../fonts/" !default;
$slick-loader-path: "../img/" !default;
@import 'slick-carousel/slick/slick-theme';
.slide-wrapper {
    padding: 16px;
}

@media (max-width: 576px) {
    .slick-list {
        padding: 0 20% 0 0 !important;
    }
}

.slick-slide {
    margin-right: 20px;
}

.slick-prev,
.slick-next {
    &:before {
        content: ' ';
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
    }
}

.slick-prev {
    left: -40px;
    &::before {
        display: inline;
        @include icon-styles;
        content: icon-char(prev);
        font-size: .75rem;
        color: $black;
        background-image: none;
    }
}

.slick-next {
    right: -25px;
    &::before {
        display: inline;
        @include icon-styles;
        content: icon-char(next);
        font-size: .75rem;
        color: $black;
        background-image: none;
    }
}